<?xml version="1.0" encoding="utf-8"?>
<search>
  <% var url = config.url + config.root %>
  <% if(posts){ %>
    <% posts.each(function(post){ %>
    <entry>
      <title><%-: post.title | cdata %></title>
      <url><%- config.root -%><%- encodeURI(post.path).replace("&","&amp;") %></url>
      <% if (post.hgs_plainTxt){ %>
        <content type="html"><%= post.hgs_plainTxt %></content>
      <% }else{ %>
        <content type="html"><%-: post.content | cdata %></content>
      <% } %>
    </entry>
    <% }) %>
  <% } %>
  <% if(pages){ %>
    <% pages.each(function(page){ %>
    <entry>
      <title><%-: page.title | cdata %></title>
      <url><%- config.root -%><%- encodeURI(page.path).replace("&","&amp;") %></url>
      <% if (page.hgs_plainTxt){ %>
        <content type="html"><%= page.hgs_plainTxt %></content>
      <% }else{ %>
        <content type="html"><%-: page.content | cdata %></content>
      <% } %>
    </entry>
    <% }) %>
  <% } %>
</search>
